In [ ]:
#python library used for downloading datasets from googke drive , kaggle
!pip3 install opendatasets

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from opendatasets) (7.1.2)
Requirement already satisfied: kaggle in /usr/local/lib/python3.8/dist-packages (from opendatasets) (1.5.12)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from opendatasets) (4.64.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (2022.12.7)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (7.0.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (2.25.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.8/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle->opendatasets) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle->opendatasets) (4.0.0)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22

In [ ]:
# 1) Get the username and key from kaggle/<YourUsername>/account
# 2) Then click on create new api token
{"username":"your_name","key":"downlaoded_key"}

{'username': 'nishithdubey', 'key': '7d4f23223ec22cdaf1b37f5cd33aba6a'}

In [ ]:
# Follow the steps above first
import opendatasets as od # python library used to download dataset from kaggle or google drive, for this we first have to import the library
od.download('https://www.kaggle.com/datasets/mfaisalqureshi/spam-email')
od.download('https://www.kaggle.com/datasets/venky73/spam-mails-dataset')

Skipping, found downloaded files in "./spam-email" (use force=True to force download)
Skipping, found downloaded files in "./spam-mails-dataset" (use force=True to force download)

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os #creating directory , also used for fetching aletring nd deleting directory

dataFile= ''

for dirname, _, filenames in os.walk('/content/spam-mails-dataset'):
  for filename in filenames:
    dataFile=os.path.join(dirname, filename)
    print(os.path.join(dirname, filename))

/content/spam-mails-dataset/spam_ham_dataset.csv

In [ ]:
#reading the csv dataset by iterating it
data1=pd.read_csv('/content/spam-email/spam.csv')
data2=pd.read_csv('/content/spam-mails-dataset/spam_ham_dataset.csv')

In [ ]:
from google.colab import drive
drive._mount('/content/drive')

ValueError: ignored

In [ ]:
display(data1.head(n=5))

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
display(data2.head(n=5))

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [ ]:
data2.rename(columns = {'label':'Category'}, inplace = True)

In [ ]:
data2.rename(columns = {'text':'Message'}, inplace = True)

In [ ]:
data2.rename(columns = {'label_num':'Spam'}, inplace = True)

In [ ]:
newData2 = data2.drop(['Unnamed: 0'], axis=1)

In [ ]:
newData2.head(5)

  Category                                            Message  Spam
0      ham  Subject: enron methanol ; meter # : 988291\r\n...     0
1      ham  Subject: hpl nom for january 9 , 2001\r\n( see...     0
2      ham  Subject: neon retreat\r\nho ho ho , we ' re ar...     0
3     spam  Subject: photoshop , windows , office . cheap ...     1
4      ham  Subject: re : indian springs\r\nthis deal is t...     0

In [ ]:
# print the columns in csv
print(data1.columns)
print(newData2.columns)

Index(['Category', 'Message'], dtype='object')
Index(['Category', 'Message', 'Spam'], dtype='object')

In [ ]:
# Create new column Spam: ===> Ham=0 Spam=1
data1['Spam'] = data1['Category'].apply(lambda x:1 if x=='spam' else 0)
data1.head(5)

  Category                                            Message  Spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [ ]:
# No Missin Data concluded
print(data1.info())
print(newData2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
 2   Spam      5572 non-null   int64
dtypes: int64(1), object(2)
memory usage: 130.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5171 entries, 0 to 5170
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5171 non-null   object
 1   Message   5171 non-null   object
 2   Spam      5171 non-null   int64
dtypes: int64(1), object(2)
memory usage: 121.3+ KB
None

In [ ]:
data = data1.append(newData2)

In [ ]:
#printing no of rows and columns
data.shape

(10743, 3)

In [ ]:
data.head(10)

  Category                                            Message  Spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0
5     spam  FreeMsg Hey there darling it's been 3 week's n...     1
6      ham  Even my brother is not like to speak with me. ...     0
7      ham  As per your request 'Melle Melle (Oru Minnamin...     0
8     spam  WINNER!! As a valued network customer you have...     1
9     spam  Had your mobile 11 months or more? U R entitle...     1

# Training Model

In [ ]:
# sklearn(sci-kit library) library in python for machine learning and statistical modelling
#sklearn.model is library from which we are splitting dataset into random train test subsets
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(data.Message,data.Spam,test_size=0.3)

In [ ]:
#CounterVectorizer Convert the text into matrics
from sklearn.feature_extraction.text import CountVectorizer

Naive Bayes Have three Classifier(Bernouli,Multinominal,Gaussian) we used Bernouli Bayes Because here data is in Boolean Binary Value (i.e either the message will be Ham or it will be Spam)

## Binarization
To test Bernoulli Naive Bayes on the dataset, we need to ensure that all values are binary.

So, firstly, we check if our target variable values are binary or not.

In [ ]:
#checking if target variable is binary or not
np.unique(data['Spam'])
#2 unique values, hence it is binary

array([0, 1])

In [ ]:
from sklearn.naive_bayes import BernoulliNB

In [ ]:
from sklearn.pipeline import Pipeline
clf=Pipeline([
    ('vectorizer',CountVectorizer()),
    ('nb',BernoulliNB())
])

### Fitting Model

In [ ]:
#fitting the training datasets to our model
clf.fit(X_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', BernoulliNB())])

# Predicting

In [ ]:
#input our emails
emails=[
    """
    Hey there!



This is Robert from BLACKBOX.



It is your second day using BLACKKBOX and I wanted to share with you a few tips that would make your experience MUCH MUCH better!



If you care about being extremely fast using Blackbox, you can use these keyboard shortcuts to 10X your productivity:



Copy Code from Videos, Images and PDF

Mac: ⌘E
Windows: ALT S
You can find more 30 second tutorials on how to best use Blackbox by clicking here



Can I ask you a favor? What's your feedback about BLACKBOX?





Robert

BLCKBX.AI Cofounder
PS: Here is our gift to you, this coupon gives you 50% discount on your premium Blackbox Pro subscription for 12 months!


    """
]

In [ ]:
clf.predict(emails)

array([1])

# Model Accuracy

In [ ]:
#predicting the accuracy of our model
from sklearn import metrics
y_pred = clf.predict(X_test)
print("BernoulliNB Naive Bayes model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)
print("BernoulliNB Naive Bayes model precision(in %):", metrics.precision_score(y_test, y_pred)*100)

BernoulliNB Naive Bayes model accuracy(in %): 85.2621780949426
BernoulliNB Naive Bayes model precision(in %): 79.92424242424242

In [ ]:
print("Thank You")

Thank You